<!DOCTYPE html>
<html>
  <head>
    <title>Agendamiento De Citas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"><script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>Reserva Tu Cita</h1>

        ffff
        <form method="post">
          <div class="form-group-pro">
            <i class="fa-regular fa-user icon"></i>
            <input type="text" name="nombre" id="nombre" required />
            <label for="nombre">Nombre<span class="required">*</span></label>
          </div>
            <!-- TODO ff -->
          <div class="form-group-pro">
            <i class="fa-regular fa-envelope icon"></i>
            <input type="email" name="email" id="email"/>
            <label for="email">Email</label>
          </div>

          <div class="form-group-pro">
            <i class="fa-solid fa-phone icon"></i>
            <input
              type="tel"
              name="telefono"
              id="telefono"
              pattern="3\d{9}"
              maxlength="10"
              required
              oninvalid="this.setCustomValidity('Debe comenzar con 3 y tener 10 dígitos')"
              oninput="this.setCustomValidity('')"
            />
            <label for="telefono"
              >Número de teléfono: <span class="required">*</span></label
            >
          </div>

          <div class="form-group-pro">
            <i class="fa-solid fa-scissors icon"></i>
            <input list="listaServicios" name="tipo_una" id="menuUnas" required />
            <label for="menuUnas">Selecciona un servicio <span class="required">*</span></label>
            <datalist id="listaServicios">
              <option value="Tradicional">Tradicional</option>
              <option value="Acrilicas">Acrílicas</option>
              <option value="Gel">Gel</option>
              <option value="Semipermanente">Semipermanente</option>
              <option value="Decoracion">Decoración extra</option>
            </datalist>
          </div>

          <div class="form-row">
            <div class="form-group-pro form-group">
              <i class="fa-regular fa-calendar-days icon"></i>
              <input type="date" id="date" name="date" required />
              <label for="date">Fecha <span class="required">*</span></label>
            </div>

            <div class="form-group-pro form-group">
              <i class="fa-regular fa-clock icon"></i>
              <input list="listaHoras" name="hora" id="hora" required />
              <label for="hora">Seleccione hora <span class="required">*</span></label>
              <datalist id="listaHoras">
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
              </datalist>
            </div>
          </div>

          <div class="form-group-pro">
            <i class="fa-regular fa-clipboard icon"></i>
            <textarea name="notas" id="notas" rows="4"></textarea>
            <label for="notas">Notas</label>
          </div>

          <button type="submit">Agendar cita</button>
        </form>
      </div>
    </div>

    <footer>&copy; 2025 Diego Peña. Todos los derechos reservados.</footer>
  </body>
</html>